# See https://www.dartlang.org/tools/private-files.html

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# Files in MacOS
.DS_Store

# Temp files
tools/_variables.scss
tools/materialdesignicons-webfont.ttf
